
.vs/ManagementTOOL/v16/Server/sqlite3/storage.ide-shm
.vs/ManagementTOOL/DesignTimeBuild/.dtbcache
.vs/ManagementTOOL/v16/.suo
.vs/ManagementTOOL/v16/Server/sqlite3/storage.ide
.vs/ManagementTOOL/v16/Server/sqlite3/storage.ide-wal
